.cursor-pointer {cursor: pointer !important;}
.cursor-default {cursor: default !important;}

@each $color, $value in $grays {
  .bg-gray-#{$color} {
    background-color: $value !important;
  }
}

.shadow-none {
  box-shadow: none!important;
}

.break-all {
  word-break: break-all;
}

.list-disc {
  list-style-type: disc;
}